{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div class="container">
<p>
    {% blocktrans %}
    Забыли пароль? Введите свой электронный адрес в форму, и мы вышлем Вам инструкции по созданию нового.
    {% endblocktrans %}
</p>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary btn-block" value="Сбросить пароль" />
</form>
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}