{% extends 'base.html' %}
{% load dropdown_menu_game %}
{% load news_list %}
{% block content %}
<div class="block_cont">
    <div class="container">
        <div class="row">
            <div class="col-md-9" role="main">
                {% show_carousel %}
            </div>
        </div>
    </div>
</div>
<div class="block_cont">
    <div class="container">
        <div class="row">
            <h1 id="h1_News"><a style="color: #fff;" href="/news/">Новости</a></h1>
            <div class="col-md-9" role="main">
                {% show_news_list7 %}
            </div>
        </div>
    </div>
</div>
{% endblock %}